* {
	box-sizing: border-box;
}

body {
	font-family: 'Dosis', sans-serif;
}

#logo {
	font-family: 'Playball';
	font-size: 10vw;
	color: antiquewhite;
	text-align: center;
	height: 15vh;
	position: relative;
	margin-bottom: 3%;
	z-index: 2;
}

#background {
	position: fixed; 
	top: -50%; 
	left: -50%; 
	width: 200%; 
	height: 200%;
}
#background img {
	position: absolute; 
	top: 0; 
	left: 0; 
	right: 0; 
	bottom: 0; 
	margin: auto; 
	min-width: 50%;
	min-height: 50%;
}

button {
	border-style: groove;
	background-color: darkred;
	opacity: 0.9;
	display: block;
	text-align: center;
	font-size: 4vw;
	color: lightgray;
	z-index: 2;
	margin: auto;
	margin-top: 10%;
	font-family: 'Dosis', sans-serif;
}

button:hover {
	color: blue;
	cursor: pointer;
	background-color: lightgray;
}

#wait {
	width: 50vw;
	height: 50vh;
	z-index: 4;
}

#wait img {
	width: 75%;
	height: 75%;
}

#search-results {
	opacity: 0.8;
}

#map {
	width: 58.5vw;
	height: 60vh;
}

#results-list {
	width: 40vw;
	height: 60vh;
	padding: 0;
	margin: 0;
	overflow: scroll;
	background-color: lightgray;
}

#results-list li {
	border-bottom-style: groove;
	list-style: none;
	text-align: center;
}

.name {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 2vw;
}

.address {
	font-size: 1vw;
	margin: 0;
}

.number {
	font-size: 1vw;
	margin-top: 0;
	margin-bottom: 5px;
}

.transparent {
	background-color: transparent;
}

.hide {
	display: none;
}

.inline {
	position: fixed;
	display: inline-block;
	border-color: darkred;
}
